# Archivos de entorno
.env


postgres/

# Dependencias
node_modules/

# Compilados
dist/
build/

# Lock file
package-lock.json

# Configuración del IDE (WebStorm, IntelliJ, etc.)
.idea/

# Sistema
.DS_Store